{% assign post = include.entry %}

<article class="archive__item entry" itemscope itemtype="https://schema.org/CreativeWork">
    <img src="{{ post.header.teaser }}">
    <div class="description">
        <h1 class="archive__item-title" itemprop="headline">
            <a class="title" href="{{ post.url | relative_url }}" rel="permalink" aria-hidden="true">{{ post.title }}</a>
        </h1>
        {% if post.roles %}
        <p class="roles"> {{post.roles | join: ", "}} </p>
        {% endif %}
        {% assign start_date = post.date | date: '%s' %}
        {% assign finish_date = post.end_date | date: '%s' %}
        {% if start_date != finish_date %}
        <p class="date"><time datetime="{{ start_date | date: "%Y-%m-%d" }}">{{ start_date | date: "%B %Y" }}</time>
        -
        <time datetime="{{ finish_date | date: "%Y-%m-%d" }}">{{ finish_date | date: "%B %Y" }}</time>
        </p>
        {% else %}
        <p class="date"><time datetime="{{ start_date | date: "%Y-%m-%d" }}">{{ start_date | date: "%B %Y" }}</time>
        {% endif %}
        {% if post.project_short_summary %}
        <p class="summary"> {{post.project_short_summary | markdownify | strip_html}} </p>
        {% endif %}
        {% if post.project_extra_notes %}
        <p class="summary"> {{post.project_extra_notes | markdownify | strip_html}} </p>
        {% endif %}
        {% if post.engine %}
        <p class="engine"> Engine: {{post.engine}}  </p>
        {% endif %}
        {% if post.platforms %}
        <p class="platforms"> Platform: {{post.platforms | join: ", "}}  </p>
        {% endif %}
        {% unless include.hide_tools or include.hide_tools==true%}
        {% if post.tools %}
        <p class="tools"> Main Tools: {{post.tools | join: ", "}}  </p>
        {% endif %}
        {% endunless %}
    </div>
</article>