.portfolio_entry{
    clear:both;
    //font-family: Arial, Helvetica, sans-serif;
}

.portfolio_entry .entry{
    //border-style: solid;
    //border-color: red;
    border-bottom: solid thin gray;
    width:100%;
    padding-top: 1rem;
    padding-bottom:1rem;
    filter: opacity(75%);
    transition: all ease 0.5s;
}

.portfolio_entry .entry .description{
    text-align: center;
    display: block;
    margin: 0 auto;
    line-height: 1;
    width: 80%;
}

.portfolio_entry .entry .description > p{
    margin-bottom: 0;
}

.portfolio_entry-medium {
    height: auto;
}

.portfolio_entry-medium .entry{
    display:grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
}

.portfolio_entry-medium .entry img{
    display: block;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
    height: 100%;
    grid-column: 1 /2;
}

.portfolio_entry-medium .entry .description{
    text-align: left;
    display: block;
    margin: 0 auto;
    height: auto;
    grid-column: 2 / 3;
    width: 90%;
}

.portfolio_entry-medium .entry:hover{
    filter: opacity(100%);
    transition: all ease 0.5s;
}

.portfolio_entry-small {
    display:flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-evenly;
}

.portfolio_entry-small .entry{
    border-bottom: none;
    display:block;
    width: 12em;
}

.portfolio_entry-small .entry img{
    display: block;
    margin: 0 auto;
    object-fit: cover;
    width:80%;
    height:5em;
}

.portfolio_entry-small .entry .description{
    text-align: center;
    display: block;
    margin: 0 auto;
    height: auto;
    width: 80%;
    line-height: 1em;
}

.portfolio_entry-small .entry:hover{
    filter: opacity(100%);
    transition: all ease 0.5s;
}

.portfolio_entry-large {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.portfolio_entry-large .entry img{
    display: block;
    margin: 0 auto;
    object-fit: cover;
    width:100%;
    height:20em;
}

.portfolio_entry-large .entry:hover{
    filter: opacity(100%);
    transition: all ease 0.5s;
}

.description .title{
    text-decoration: none;
    color: inherit;
    line-height: 1em;
}

.description .summary{
    line-height: 1.5em;
}

.description p{
    font-size: medium;
}

.roles{
    font-weight: bold;
}

.description .date{
    font-style: italic;
}

.portfolio-inner > p{
    font-size: $type-size-5;
}

.portfolio-inner > ul{
    font-size: $type-size-5;
}

.portfolio-gallery-item{
    text-align:center;
    max-height: 600px;
    overflow-y: hidden;
    position:relative;
}

.portfolio-gallery-item-image{
    //width:100%
    max-height:600px;
    object-fit: contain;
}

.portfolio-gallery-item-text{
    background-color: rgba(0,0,0,0.5);
    color:white;
    position: absolute;
    //top: 100%;
    bottom:0;
    //bottom:2em;
    //width:inherit;
    left:0;
    right:0;
    height:2em;
    text-align: center;
    margin: 0;
}