---
layout: archive
---

{{ content }}
<div style="clear:both;">
    <h2> Works </h2>
    <div class="entries-{{ page.entries_layout }}"></div>
    {% include documents-collection-tagged.html collection=page.collection tag="Work" sort_by=page.sort_by sort_order=page.sort_order type=page.entries_layout %}
</div>
<div style="clear:both;">
    <h2> Game Jams </h2>
    <div class="entries-{{ page.entries_layout }}"></div>
    {% include documents-collection-tagged.html collection=page.collection tag="GameJam" sort_by=page.sort_by sort_order=page.sort_order type=page.entries_layout %}
</div>
<div style="clear:both;">
    <h2> Projects </h2>
    <div class="entries-{{ page.entries_layout }}"></div>
    {% include documents-collection-tagged.html collection=page.collection tag="Projects" sort_by=page.sort_by sort_order=page.sort_order type=page.entries_layout %}
</div>