---
layout: single
classes: wide

engine:                 #What was the primary engine used for this project?
platforms: []           #What platforms was this project for?        
end_date:               #When did this project end? The start date is this post's date
language: []            #What are the languages used for this project?
tools: []               #What tools were used for this project?
team_size: 1            #How many team members were in this project?
roles: []               #What roles did you take in this project?
project_summary:        #What is the project about?
project_description:    #What is the background of this project?
job_details: []         #List of all the exact stuff you did for this project

gallery:
  - url:                #URL of the large image
    image_path:         #URL of the image to show in the gallery
    alt:                #Alternate text for the image
    title:              #Title text for the image

---

{{ page.sidebar | replace: '!PROJECT_ENGINE!', page.engine | replace: '!PROJECT_TEAMSIZE!', page.team_size }}

This is a portfolio entry

{{ content }}

<p>This is the end of the entry</p>

<p>Engine: {{ page.engine }} </p>

Language: {{ page.language }} <br/>

Roles:
{% for role in page.roles %}
{{role}}
{% endfor %}  

{% include gallery id="gallery" caption="Screenshots from the project" %}

<h2> Project Summary </h2>
<p>{{ page.project_summary }}</p>

<h2> Project Description </h2>
<p>{{ page.project_description }}</p>

<h2> Job Details </h2>
<ul>
{% for job in page.job_details %}
  <li> {{ job }} </li>
{% endfor %}
</ul>

{% for tag in site.tags %}
  <h3>Tag: {{ tag[0] }}</h3>
{% endfor %}
