---
layout: default
classes: wide

engine:                             #What was the primary engine used for this project?
platforms: []                       #What platforms was this project for?        
end_date:                           #When did this project end? The start date is this post's date
language: []                        #What are the languages used for this project?
tools: []                           #What tools were used for this project?
team_size: 1                        #How many team members were in this project?
roles: []                           #What roles did you take in this project?
project_short_summary:              #Short summary about the project
project_summary:                    #What is the project about?
project_description:                #What is the background of this project?
job_details: []                     #List of all the exact stuff you did for this project
splash_image:                       #The main image shown at the top of the page
youtube_video_code:                 #The youtube project video code, if any (so the part after the youtube.com)
project_link_header: Project Link   #The header for the project link.
project_link_button_text: Click to go to the download page!
project_link:                       #The project link, if any

gallery:
  - url:                #URL to go to when you click on the image
    image_path:         #URL of the image to show in the gallery
    alt:                #Alternate text for the image
    title:              #Title text for the image

---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  <div class="sidebar sticky">
    <h3>Date</h3> 
    {% assign start_date = page.date | date: '%s' %}
    {% assign finish_date = page.end_date | date: '%s' %}
    {% if start_date != finish_date %}
    <p><time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %Y" }}</time>
    -
    <time datetime="{{ page.end_date | date: "%Y-%m-%d" }}">{{ page.end_date | date: "%B %Y" }}</time>
    </p>
    {% else %}
    <p><time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%B %Y" }}</time>
    {% endif %}
    {% if page.engine %}
    <h3>Engine</h3> 
    <p>{{ page.engine }}</p>
    {% endif %}
    <h3>Platforms</h3> 
    <ul>
    {% for platform in page.platforms %}
      <li>{{platform}}</li>
    {% endfor %}
    </ul>
    {% if page.language %}
    <h3>Languages</h3> 
    <ul>
    {% for language in page.language %}
      <li>{{language}}</li>
    {% endfor %}
    </ul>
    {% endif %}
    <h3>Tools I worked with</h3> 
    <ul>
    {% for tool in page.tools %}
      <li>{{tool}}</li>
    {% endfor %}
    </ul>
    {% if page.team_size %}
    <h3>Team Size</h3> 
    <p>{{page.team_size}}</p>
    {% endif %}
    <h3>Roles</h3> 
    <ul>
    {% for role in page.roles %}
      <li>{{role}}</li>
    {% endfor %}
    </ul>
  </div>

  
  </script>
  <div class="archive portfolio-inner">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 id="page-title" class="page__title text-center">{{ page.title }}</h1>
    {% endunless %}
    <!--<img src={{ page.splash_image }} alt={{ page.title}} > -->
    <!--% include gallery id="gallery" caption="Screenshots from the project" %} -->
    <ul id="portfolio-gallery" class="portfolio-gallery">
      {% for item in page.gallery %}
        <li data-thumb="{{ item.image_path }}" data-src="{{ item.image_path }}">
          <div class="portfolio-gallery-item">
            <img class="portfolio-gallery-item-image" src="{{ item.image_path }}"/>
            <p class="portfolio-gallery-item-text">{{item.title}}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
          $("#portfolio-gallery").lightSlider({
            item:1,
            loop:true,
            auto:true,
            controls:false,
            gallery:true,
            pauseOnHover:true,
            addClass:"test-class"
          });
      });
    </script>

    {{ content }}
    <h2> Project Summary </h2>
    <p>{{ page.project_summary | markdownify }}</p>

    <h2> Project Description </h2>
    <p>{{ page.project_description | markdownify }}</p>

    <h2> Job Details </h2>
    <ul>
    {% for job in page.job_details %}
      <li> {{ job }} </li>
    {% endfor %}
    </ul>

    {% if page.youtube_video_code %}
      <h2> Video </h2>
      <div class="responsive-video-container">
        <iframe src="https://www.youtube-nocookie.com/embed/{{ page.youtube_video_code }}" frameborder="0" allowfullscreen></iframe>
      </div>
    {% endif %}

    {% if page.project_link %}
      {% assign header_text = page.project_link_header | default: layout.project_link_header %}
      {% assign button_text = page.project_link_button_text | default: layout.project_link_button_text %}
      <h2> {{ header_text }} </h2>
      <a href="{{ page.project_link }}" class="btn btn--primary">{{ button_text }}</a>
    {% endif %}
  </div>
</div>




